* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #555;
    position: relative;
    height: 100vh;
}
